![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# ¡Bienvenidos al taller "Learning to Code with Dell Technologies"!

En este "notebook" vamos a continuar aprendiendo mas a detalle como mostrar cosas en pantalla con Python.

## ¿Mostrar cosas en Pantalla?

Si, con Python puedes darle forma a lo que quieras, puedes hacer textos, imagenes, sonidos, emojis, etc

La forma mas facil de imprimir en pantalla es utilizando la instruccion "print"

In [ ]:
print("Me siento muy bien hoy 😊")

Me siento muy bien hoy 😊

## Almacenando simples variables

En este segmento tambien daremos una breve utilización de variables que explicaremos en las próximas clases mas a detalle.


Una variable es una simple manera de almacenar un tipo de dato en Python.

Las variables, son nombres que puedes asignar a tu código para utilizarlo mas adelante:

In [ ]:
a = 1

In [ ]:
a

1

# Ejecutando operaciones con tipos de datos

Los tipos de datos en Python permiten ejecutar operaciones entre ellos.

Puedes realizar por ejemplo con los enteros operaciones básicas que podrias ejecutar en una calculadora.

In [ ]:
1+1

2

In [ ]:
2-1

1

In [ ]:
2*2

4

In [ ]:
4/2

2.0

Tambien en Python nos puestra si nuestra operacion esta incorrecta, por ejemplo nos muestra un error si nuestra division es entre 0:

In [ ]:
1/0

ZeroDivisionError: ignored

Adicionalmente operaciones similares pueden realizarse entre otros tipos de datos, como cadena.

La operacion que realizamos comunmente con las cadenas es la concatenacion, que realizamos utilizando el símbolo de +

In [ ]:
'Esta es una cadena' +  ' y le agrego otra cadena'

'Esta es una cadena y le agrego otra cadena'

Python es bien versatil y nos permite utilizar multiples tipos de datos para acorar los procesos de ejecucion, por ejemplo podemos multiplicar una cadena por un numero y tenerla varias veces:

In [ ]:
'Batman! '* 5

'Batman! Batman! Batman! Batman! Batman! '

Sin embargo si intentamos sumar un tipo de dato cadena con un numero nos dará un error ya que tenemos que asegurarnos que al concatenar el tipo de dato se el mismo:

In [ ]:
'Batman!' + 5

TypeError: ignored

In [ ]:
'Batman!' + '5'

'Batman!5'

# Ejecucion de programas con Entradas

En este entorno de progracion, puedes interactuar con lo que escribes.

Darle datos a tu creacion y ver los resultados.

In [ ]:
# Mi primer programa dice hola y pregunta por tu nombre

print('Hola Mundo!')
print('¿Cual es tu nombre?')
mi_nombre = input()  
print('Es un placer conocerte, ' + mi_nombre)
print('Tu nombre tiene ',len(mi_nombre),' letras')

print('¿Cual es tu edad?')
mi_edad = input()
print('Tendras ' + str(int(mi_edad)+1) + ' el proximo año')

Hola Mundo!
¿Cual es tu nombre?
Faustino
Es un placer conocerte, Faustino
Tu nombre tiene  8  letras
¿Cual es tu edad?
18
Tendras 19 el proximo año

# Mostrando los tipos de datos

Como ya mencionamos Python reconoce distintos tipos de datos. Por ejemplo, números enteros, números con decimales, booleano (es cuando el resultado es cero o uno), textos, fechas, listas, diccionarios, y archivos.

Por ejemplo:
*   Enteros o *integers*: -1, 0, 1
*   Flotantes o *floats*: -1.3, 0.005, 1.333333
*   Booleanos o *booleans*: 1, 0, True, False
*   Listas o *lists*: [1, "dos", 3, 4.1]
*   Textos o *strings*: "2", 'hola', "Él dijo que 'compraría' la cena."

Los *strings* pueden ser delimitados por:<br>
*   ' ' apóstrofe sencilla
*   " " comilla sencilla<br>
*   ''' '''triple apóstrofe<br>
*   """ """ triple comilla

Además, los *strings* son inmutables; es decir, que no cambian por si solos, pero los operadores (in, +, y **)* y funciones (*len*, *min*, y *max*) pueden dar un nuevo *string* a partir del original.

In [ ]:
# Ejemplo un texto con tab \t (este símbolo significa tabulación o espaciado y es utilizado en diversos lenguajes para 
# indicarle a la computadora cuando un texto lleva un espaciado similar al apretar la tecla Tab)
# Definamos una variable x con algún texto
x = "Soy fan de las películas de \t  \tDC"
print(x) # Utilizamos la función print para imprimir o mostrar un resultado. En este caso, mostramos el contenido de la variable x

# ¡Muy bien! Ahora usemos la funcion split para separar el contenido de la variable x 
y = x.split()
print(y)

Soy fan de las películas de 	  	DC
['Soy', 'fan', 'de', 'las', 'películas', 'de', 'DC']

In [ ]:
# ¡Muy bien! Ahora usemos la funcion split con un parámetro para que separe la oración que tenga \t
y = x.split("\t")
print(y)

['Soy fan de las películas de ', '  ', 'DC']

Ejercicio 1
1. Define una variable z con el siguiente texto "Sol, playa, nubes, mar y arena"
2. Separa ese texto por commas ","
¿Cuál es el resultado?

In [ ]:
# Ejercicio 1
# Define una variable z
z = "Pablofueala fiesta"
# Separa ese texto por commas ","
z.split()
# ¿Cuál es el resultado? Recuerda colocar la variable que deseas imprimir o mostrar
#print(w)

['Pablofueala', 'fiesta']

In [ ]:
# Ahora reemplacemos la última frase de la variable x
x.replace("\t  \tDC", "Marvel")
# Usamos la funcion replace para reemplazar el primer parámetro con el segundo parámetro de la función

'Soy fan de las películas de Marvel'

Ejercicio 2
1. Define una variable cualquiera
2. Agregale un texto cualquiera
3. Reemplázalo con la función .replace()
4. Imprime o muestra el resultado

In [ ]:
# Ejercicio 2
# Define una variable cualquiera
z = "Pablo fue a la fiesta"

# Agregale un texto cualquiera
w = 'Juan'

# Reemplázalo con la función .replace()
z.replace('Pablo', 'Toretto')

# Imprime o muestra el resultado

'Toretto fue a la fiesta'

In [ ]:
# ¿Qué pasa si sumamos un texto? Obtendremos un error porque necesitamos colocar las comillas.
texto1 = 'agua'
texto2 = "cate"
texto3 = "!"
print(texto1 + texto2+ texto3)

aguacate!

In [ ]:
# Notemos que si no colocamos las comillas o apóstrofes, entonces Python interpreta que es un objeto variable no definida.
# Sin embargo, al sumar textos, se pondran uno al lado del otro. Ejemplo: agua + cate = aguacate
texto1 = "agua"
texto2 = "cate"

print("El resultado de estas variables de tipo texto es: ", texto1 + texto2)

El resultado de estas variables de tipo texto es:  aguacate

In [ ]:
# Pero multiplicar dos variables de tipo texto resultará en error porque esta es una operacion numerica.
print(texto1 * texto2)

TypeError: ignored

In [ ]:
# Sin embargo, sí podemos multiplicar un texto por un número, lo cual repetira el texto tantas veces como tengamos el numero.
print(texto1 * 5)

aguaaguaaguaaguaagua

In [ ]:
# Veamos cuántos caracteres tiene la variable texto1
print(len(texto1))
print(texto1.upper())
print(texto1.lower())

4
AGUA
agua

In [ ]:
# Veamos cómo maneja Python los caracteres con las funciones len, min, y max
texto = "amARillo1"

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor más bajo: ", min(texto))
print("Caracter con valor más alto: ", max(texto))

amARillo1
Cantidad de caracteres:  9
Caracter con valor más bajo:  1
Caracter con valor más alto:  o

In [ ]:
# Veamos cómo maneja Python los caracteres con las funciones len, min, y max
texto = "verde"

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor más bajo: ", min(texto))
print("Caracter con valor más alto: ", max(texto))

verde
Cantidad de caracteres:  5
Caracter con valor más bajo:  d
Caracter con valor más alto:  v

In [ ]:
# Veamos cómo maneja Python los caracteres con las funciones len, min, y max
texto = "amarIllo".upper()

print(texto)
print("Cantidad de caracteres: ", len(texto))
print("Caracter con valor más bajo: ", min(texto))
print("Caracter con valor más alto: ", max(texto))

AMARILLO
Cantidad de caracteres:  8
Caracter con valor más bajo:  A
Caracter con valor más alto:  R

Otros tipos de datos pueden ser convertidos en texto e incluso le podemos dar el formato que deseemos. Veamos el siguiente ejemplo.

In [ ]:
# Definamos las siguientes variables 
e = 2.718125
z = [1, "dos", 3, 4.0, ["A", "b"]]

print("La constante e es: ", e, " y la lista z es: ", z)

La constante e es:  2.718125  y la lista z es:  [1, 'dos', 3, 4.0, ['A', 'b']]

In [ ]:
# Sin embargo, en Python, generalmente hay varias maneras de llegar al mismo resultado
print("La constante e es: {:.3f} y la lista z es: {}".format(e, z[-2]))

La constante e es: 2.718 y la lista z es: 4.0

In [ ]:
# Notemos que en este ejemplo no cambiamos la variable, sino que seleccionamos un valor de la lista y modificamos el formato
print("La constante e es: {:.2f} y la lista z es: {:.4f}".format(e, z[1]))

ValueError: ignored

¡Felicidades!

Hemos concluido con la lección de hoy, así que regresemos a la presentación para ver el resumen.

# Talleres

Ahora pondremos este conocimiento en practica y veremos algunos ejercicios juntos en Python e interactuaremos con el entorno:

1. Escribe un programa en Python para imprimir la siguiente cadena en un formato específico (ver la salida). Ir al editor
Cadena de ejemplo : "Brilla, brilla, estrellita, ¡Cómo me pregunto qué eres! Por encima del mundo tan alto, Como un diamante en el cielo. Twinkle, twinkle, little star, How I wonder what you are" Salida :

```
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are
```

2. Escribe un programa en Python para mostrar la fecha y la hora que lees en tu pantalla.

3. Escribe un programa en Python para imprimir un conjunto que contenga todos los colores de la lista_de_colores_1 que no estén presentes en la lista_de_colores_2.

Test Data :

color_list_1 = set(["White", "Black", "Red"])

color_list_2 = set(["Red", "Green"])

Expected Output :
{'Black', 'White'}

4. Escribir un programa en Python que acepte la base y la altura de un triángulo y calcule el área

5. Escribe un programa en Python que acepte el nombre y el apellido del usuario y los imprima en orden inverso con un espacio entre ellos.